@{
    ViewData["Title"] = "Home Page";
}
@model Info

<div class="text-center d-flex flex-column">
    <div class="my-auto">
        <h1 class="pb-5">Settings</h1>

        <form asp-controller="Home" asp-action="Index" method="post" class="col-6 offset-3 my-5">
            <div class="mb-5">
                <label asp-for="RoundTime" class="control-label"></label>
                <input type="number" asp-for="RoundTime" class="form-control text-center ms-lg-2 ms-md-2 ms-sm-0" />
                <div style="height: 5px;">
                    <span class="text-danger" asp-validation-for="RoundTime"></span>
                </div>
            </div>
            
            <div class="mb-5">
                <label asp-for="RestTime" class="control-label"></label>
                <input type="number" asp-for="RestTime" class="form-control text-center ms-lg-2 ms-md-2 ms-sm-0" />
                <div style="height: 5px;">
                    <span class="text-danger" asp-validation-for="RestTime"></span>
                </div>
            </div>

            <div class="mb-5">
                <label asp-for="RoundCount" class="control-label"></label>
                <input type="number" asp-for="RoundCount" class="form-control text-center ms-lg-2 ms-md-2 ms-sm-0" />
                <div style="height: 5px;">
                    <span class="text-danger" asp-validation-for="RoundCount"></span>
                </div>
            </div>
            <input type="submit" class="btn btn-primary w-100 p-3" value="Submit" />
        </form>
    </div>
</div>